.totalDiv{
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 45px 30px 50px;
    width: 376px;
}

.totalTitle::before{
    background-color: #e3e1e1;
    content: "";
    height: 1px;
    left: 90px;
    position: absolute;
    top: 14px;
    transition: all .4s ease 0s;
    width: 70%;
    z-index: 1;
}
.totalTitle1::before{
    background-color: #e3e1e1;
    content: "";
    height: 1px;
    left: 155px;
    position: absolute;
    top: 14px;
    transition: all .4s ease 0s;
    width: 56%;
    z-index: 1;
}
.totalTitle2::before{
    background-color: #e3e1e1;
    content: "";
    height: 1px;
    left: 230px;
    position: absolute;
    top: 14px;
    transition: all .4s ease 0s;
    width: 32%;
    z-index: 1;
}
.titleCart{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-right: 18px;
}
.grandTitle{
    color: #a749ff;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 25px;
}
.check{
    background-color: #333;
    border-radius: 50px;
    color: #fff !important;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 18px 10px 17px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.check:hover{
    background-color: #a749ff;
}
.coponInput{
    border: 1px solid #ebebeb;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 10px;
    width: 100%;
    outline: none;
}
.select{
    border:1px solid #ebebeb;
}
.select:focus{
    border: 1px solid #ebebeb;
    box-shadow: none;

}
