.skeletonImg{
    background-color: #868e96;
    width: 275px;
    height: 275px;
}
.skeletonStyle{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    gap: 10px;
    margin: 20px 0;
    padding-bottom: 60px;
}