.footerLink:hover{
    color: #a749ff !important;
}
.footerUl{
    list-style: none;
    padding: 0;
}
.linkStyle{
    color: #5d5d5d;
    letter-spacing: 0.3px;
}
.footerSection{
    margin: 0 0 30px 30px;
    padding: 0 16px;
}
.liStyle{
    margin-bottom: 10px;
}