.icon{
    color: #595959;
    width: 23px;
    height: 23px;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.length{
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 9px;
    right: 109px;
}