body{
  margin: 0;
}
a{
  text-decoration: none !important;
  color: unset !important;
}

.fixed{
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
  transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  border-bottom: 0 solid #4a90e2;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.06);
    animation: fadeInDown .7s ease-in-out 0s 1 normal none running;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}
100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
}